{% extends "admin/monitor/jk_base.html" %}
{% block content %}
    {{ super() }}
    <div id="psdash" class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Connections [{{ conns|count() }}]</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">监听配置，暂不支持</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                    <form id="connections-form" action="" method="get">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>FD</th>
                                    <th>PID</th>
                                    <th>Family</th>
                                    <th>Type</th>
                                    <th>Local address</th>
                                    <th>Remote address</th>
                                    <th>State</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <select name="family">
                                            <option value="">All</option>
                                            {% for val in socket_families.items() %}
                                                <option value="{{ val }}" {{'selected="selected"' if family == val}}>{{ val[1]  }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th>
                                        <select name="type">
                                            <option value="">All</option>
                                            {% for val in socket_types.items() %}
                                                <option value="{{ val }}"  {{'selected="selected"' if type == val}}>{{ val[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th>
                                        <input type="text" name="local_addr" value="{{ local_addr_host }}{{ ":" + local_addr_port|string() if local_addr_port }}" />
                                    </th>
                                    <th>
                                        <input type="text" name="remote_addr" value="{{ remote_addr_host }}{{ ":" + remote_addr_port|string() if remote_addr_port }}" />
                                    </th>
                                    <th>
                                        <select name="state">
                                            <option value="">All</option>
                                            {% for val in states %}
                                                <option value="{{ val }}"  {{'selected="selected"' if state == val}}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in conns %}
                                <tr>
                                    <td>
                                        {{ c.fd if c.fd > 0 else "-" }}
                                    </td>
                                    <td>
                                        {% if c.pid %}
                                            <a href="{{ url_for('admin.admin_process',pid=c.pid,section="connections") }}">{{ c.pid }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ c.family }}</td>
                                    <td>{{ c.type }}</td>
                                    <td>
                                        {{ c.local_addr_host|default("", True) }}:{{ c.local_addr_port|default("", True) }}
                                    </td>
                                    <td>
                                        {{ c.remote_addr_host|default("", True) }}:{{ c.remote_addr_port|default("", True) }}
                                    </td>
                                    <td>{{ c.state }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Disk I/O</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Device</th>
                                    <th>Read count</th>
                                    <th>Write count</th>
                                    <th>Read bytes</th>
                                    <th>Write bytes</th>
                                    <th>Read time (ms)</th>
                                    <th>Write time (ms)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dev, io in io_counters %}
                                <tr>
                                    <td>{{ dev }}</td>
                                    <td>{{ io.read_count }}</td>
                                    <td>{{ io.write_count }}</td>
                                    <td>{{ io.read_bytes }}</td>
                                    <td>{{ io.write_bytes }}</td>
                                    <td>{{ io.read_time }}</td>
                                    <td>{{ io.write_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ request.script_root }}/static/admin/js/update.js"></script>
{% endblock %}