<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>天道监控</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('admin.adminds') }}">仪表盘</a>
            </li>
            <li><a>监控系统</a></li>
            <li class="active"><strong>{% if name=='system' %}PSDASH{% elif name=='blog' %}钟馗之眼{% elif name=='status' %}健康状态{% else %}神秘信息{% endif %}</strong></li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>