{% extends "admin/monitor/jk_base.html" %}
{% block content %}
    {{ super() }}
    <!--功能鸡肋-->
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>
                        内存
                         {% if mem.percent > 90 %}
                             <span class="label label-danger pull-right">危险</span>
                        {% elif mem.percent > 70 %}
                             <span class="label label-warning pull-right">警告</span>
                        {% else %}
                             <span class="label label-info pull-right">健康</span>
                        {% endif %}
                    </h5>
                    <h2>{{ mem.percent }} %</h2>
                    <div class="progress progress-mini">
                        <div style="width: {{ mem.percent }}%;" class="progress-bar"></div>
                    </div>
                    <div class="m-t-sm small">
                        Last Update <br /> {{ time }}
                    </div>
                </div>
            </div>
        </div>
        {% for d in disk %}
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>磁盘
                     {% if d.space_used_percent > 90 %}
                             <span class="label label-danger pull-right">危险</span>
                        {% elif d.space_used_percent > 80 %}
                             <span class="label label-warning pull-right">警告</span>
                        {% else %}
                             <span class="label label-info pull-right">健康</span>
                        {% endif %}
                    </h5>
                    <h2>{{ d.space_used_percent }} %</h2>
                    <div class="progress progress-mini">
                        <div style="width: {{ d.space_used_percent }}%;" class="progress-bar"></div>
                    </div>
                    <div class="m-t-sm small">
                        Last Update:<br />
                        {{ time }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>API</h5>
                </div>
                <div class="ibox-content">
                    <h5>API 1</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i>Up
                    </h2>
                    <small>Last down 42 hours ago</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}