<div class="card">
    <div class="card-content">
        <span class="card-title black-text">
            <a href="{{ url_for('auth.oauth') }}" data-instant class="grey-text darken-5"
                             style="font-size: 1.0em"><strong>欢迎使用<ruby>Goblog<rt>version {{ get_version() }}</rt></ruby></strong></a>
        </span>
    </div>
    <div class="card-action">
        <div class="row" style="margin-bottom: 0;">
            愿你们既能朝九晚五，又能浪迹天涯
            <!--
            bgm:
            那一年，流川枫离开了他的苍井空。那一年，日子越过越长，距离理想越来越短.

            -->
        </div>
    </div>
</div>