<div class="container">
    <div class="row">
      <div class="col s12 m12 l4 right hide-on-med-and-down">
        {% include 'profile.html' %}
      </div>
      <div class="col s12 m10 offset-m1 l8">
          {% if (posts_list | length) == 0 %}
                {% include './home/no_post_intro.html' %}
          {% endif %}
          {% for post in posts_list %}
              {% include './home/post_info.html' %}
          {% endfor %}
          {% if (posts_list | length )>10 %}
              <div class="row">
                  <a href="/posts" data-instant>
                      <i class="material-icons col s1 l1 right medium">navigate_next</i>
                  </a>
              </div>
          {% endif %}
      </div>
    </div>
</div>