{% block footer %}
    <!--footer-->
    <div class="explore">
    <div class="explore__devider">*****</div>
    <ul class="categories">

            <li class="categories__item"><a href="/categories/python">Python</a></li>

            <li class="categories__item"><a href="/categories/docker">Docker</a></li>

            <li class="categories__item"><a href="/categories/devops">Devops</a></li>

            <li class="categories__item"><a href="/categories/tensorflow">Tensorflow</a></li>

            <li class="categories__item"><a href="/categories/misc">Misc</a></li>

        <li class="categories__item"><a href="/">All</a></li>
    </ul>
</div>
        </div>
{% endblock %}