{% block header %}
    <!--header-->
    <header class="header">
    <div class="navigation">
        <a href="/" class="logo">Ysicing's Blog</a>

        <ul class="menu">
            <li class="menu__entry"><a href="/">Blog</a></li>
            <li class="menu__entry"><a href="/links">Links</a></li>
            <li class="menu__entry"><a href="/feed.xml">RSS</a></li>
            <li class="menu__entry"><a href="/about">About</a></li>
        </ul>
    </div>

    <ul class="social-links">

            <a href="https://github.com/ysicing" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>



            <a href="https://twitter.com/YsiCing" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>


          <a href="http://www.weibo.com/caibaodoge"
            class="social-links__entry" target="_blank"><i class="fa fa-weibo"></i></a>

    </ul>
</header>
{% endblock %}