

    <script>
        $.ajax({
            type: "get",
            dateType: "json",
            url: "{{ url_for('api.post_api', post='recent') }}",
            //async: false,
            complete: function () {
                $("#load").hide();
            },
            success: function (msg) {
                $.each(msg,function (i,n) {
                    $("#writing ul").append(
                       '<li class="post-item"><div class="meta">' +
                        '<time datetime="'+ n[0].date +'" itemprop="datePublished">'+ n[0].date.substr(5,12) +'</time></div>'
                        +  '<span><a class="" href="/post/'+ n[1] +'">' + n[0].title + '</a></span></li>'
                    );
                })
            },
            error: function () {
                alert("ERROR");
            }
        });
    </script>
