{% block saying %}
<section id="about">

  <p style="display: inline">

      Find me on
      <ul id="sociallinks">

           <li><a class="icon" target="_blank" href="https://weibo.com/caibaodoge" title="weibo"><i class="fa fa-weibo"></i></a></li>

          <li><a class="icon" target="_blank" href="https://github.com/ysicing" title="github"><i class="fa fa-github"></i></a></li>

          <li><a class="icon" target="_blank" href="https://twitter.com/YsiCing" title="twitter"><i class="fa fa-twitter"></i></a></li>

          <li><a class="icon" target="_blank" href="mailto:root@ysicing.net" title="envelope"><i class="fa fa-envelope"></i></a></li>

      </ul>.

  </p>
</section>
{% endblock %}