{% extends "admin/base.html" %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>设置</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('admin.adminds') }}">仪表盘</a>
            </li>
            <li class="active"><strong>友情链接</strong></li>
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
    <div class="wrapper wrapper-content animated fadeInRight">
        {% include "admin/misc/links_config.html" %}
    </div>
{% endblock %}
{% block scripts %}
<script>
    $('#settingForm').validator({
        timely: 2,
        theme: "yellow_right_effect",
        fields: {
            "lurl": {
                rule: "required",
                tip: "输入友链URL",
                ok: "",
                msg: {required: "URL必填"}
            },
            "lname": {
                rule: "required;",
                tip: "输入网站名",
                ok: "",
                msg: {required: "网站名必填"}
            },
            "ldes": {
                rule: "length[0~50]",
                tip: "输入网站描述",
                ok: "",
                empty: true
            }
{#            "key": {#}
{#                rule: "required(either)",#}
{#                tip: "输入密钥",#}
{#                ok: "",#}
{#                msg: {required: "密码和密钥必填一个!"}#}
{#            }#}
        },
        valid: function(form) {
                form.submit();
            }
    })
</script>
{% endblock %}