{% block header %}
    <!--header-->
    <header id="header">
  <a href="/">
      <div id="logo" style="background-image: url('/static/img/logo2.png');"></div>
    <div id="title">
      <h1>Ysicing Zheng</h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fa fa-bars fa-2x"></i></a>
      </li>
        <li><a href="/about/">About</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/mirrors/">Mirrors</a></li>
        <li><a href="/dash/">Dash</a></li>
    </ul>
  </div>
</header>
{% endblock %}