<!DOCTYPE html>
<html>
<head>
    <title>{{ blog_name() }} - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ request.script_root }}/static/blog/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ request.script_root }}/static/blog/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ request.script_root }}/static/comm/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{ request.script_root }}/static/comm/css/vendor/font-awesome/css/font-awesome.min.css" />
    <link href='{{ request.script_root }}/static/comm/css/vendor/lato.css' rel='stylesheet' type='text/css'>
    <link href='{{ request.script_root }}/static/comm/css/vendor/raleway.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ request.script_root }}/static/blog/css/login.css">
    <script src="{{ request.script_root }}/static/comm/js/vendor/moment.min.js"></script>
    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
    </script>
    <style>
    #login-container {
        padding-left:  60px;
        padding-right: 60px;
    }

    .done-row {
        padding-top: 15px;
        margin: 0px;
    }
    </style>
</head>
<body>
  <div class="body-container">
        <div class="jumbotron home">
    <div class="container">
        <h1>Login / Oauth</h1>
    </div>
</div>
<div class="container main-container">
    <div class="row">
        <center><h2>Local Login</h2></center>
        <div id="login-container" class="col-md-6 col-md-offset-3">
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            {% endfor %}
            {% if msg %}
                <div class="alert alert-info alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ msg }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            {% endif %}
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <span class="input">
                            <input class="input-field" type="text" name="name" id="name-input" />
                            <label class="input-label" for="name-input">
                                <span class="label-content">User Name</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="input">
                            <input class="input-field" type="password" name="password" id="password-input" />
                            <label class="input-label" for="password-input">
                                <span class="label-content" data-content="Password">Password</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="done-row row">
                    <div class="col-md-6" style="padding-left:0px">
                        <a class="pull-left align-text-to-button" href="{{ request.script_root }}/reset_passwd">Forgot your password?</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" id="submit" tabindex="5" class="btn btn-md btn-theme btn-outlined pull-right">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="nonce" value="{{ nonce }}">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    {% if gitslogin == 'False' %}
    <div class="row">
        <center><h2>使用第三方账号登录</h2></center>
        <div class="col-md-5 col-sm-5">
        </div>
        <div class="col-md-2 col-sm-2">
             <a href="/oauth/wechat">
                 <img src="{{ request.script_root }}/static/comm/img/wechat_1.png" width="64" >
             </a>
            <a href="/oauth/github">
                 <img src="{{ request.script_root }}/static/comm/img/github.png" width="64" >
             </a>
        </div>
        <div class="col-md-5 col-sm-5">

        </div>
    </div>
    {% endif %}
</div>
  </div>
  <script src="{{ request.script_root }}/static/comm/js/jquery-3.1.1.min.js"></script>
  <script src="{{ request.script_root }}/static/comm/js/vendor/marked.min.js"></script>
  <script src="{{ request.script_root }}/static/comm/js/vendor/bootstrap.min.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>