<div class="row comment-panel" id="comment-panel">
  <div class="col s10 l10 offset-s1 offset-l1">
      <div class="row">
        <div class="col s12 l12">
            <div class="row">
                <div class="input-field col s4">
                    <input id="cname" name="cname" type="text" class="validate" required>
                    <label for="cname">Username</label>
                </div>
                <div class="input-field col s4">
                  <input id="cemail" name="cemail" type="text" class="validate" required>
                  <label for="cemail">Email</label>
                </div>
                <div class="input-field col s4">
                  <input id="curl" name="curl" type="text" class="validate">
                  <label for="curl">URL</label>
                </div>
                <i class="material-icons prefix">mode_edit</i>
                <label for="comment-textarea">评论</label>
                <textarea id="comment-textarea" class="materialize-textarea OwO-textarea" name="comment"></textarea>
                <div class="OwO" style="z-index: 100"></div>
                <button class="btn btn-white" type="reset">取消</button>
                <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
            </div>
            <div id="result"></div>

        </div>
      </div>

      <div class="comment-content">
          <div class="row">
            {% for ipl in pl %}
                {% if ipl.cemail_allow %}
                    <div class="col s2 l1">
                        <a href="#" name="#">
                            <img src="{{ ipl.gravatar() }}" class="comment-avatar circle">
                        </a>
                    </div>
                    <div class="col s10 l11">
                        <div class="">
                            <span class="comment-author"><strong>{{ ipl.cname }}</strong></span>
                            <div class="comment-words">{{ ipl.ctext |safe }}</div>
                            {% if ipl.cemail == user.email %}
                            <div class="">
                                <span class="comment-date vertical-top"></span>
                                <div style="display: inline;margin-left: 32px">

                                    <a onclick="referredTo(this)" href="javascript:void(0);"
                                       data-username="{{ ipl.cname }}"><i class="material-icons grey-text">forum</i></a>
                                    <!--
                                    <a onclick="commentUp(this)" href="javascript:void(0);" data-id="2222"><i
                                        class="material-icons grey-text" id="thumb-up-3333">thumb_up</i></a>

                                    <a onclick="commentDown(this)" href="javascript:void(0);" data-id="4444"><i
                                        class="material-icons grey-text" id="thumb-down-3333">thumb_down</i></a>

                                      <a href="#modal-delete" data-id="7777"><i class="material-icons red-text">delete</i></a>
                                      -->
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
          </div>

      </div>
  </div>
</div>
<script type="text/javascript">
    //$(function(){
        //alert($('input[name="cemail"]').val());
       $('.btn').click(function(){
           var data ={};
           data['cname'] = $('input[name="cname"]').val();
           data['cemail'] = $('input[name="cemail"]').val();
           data['curl'] = $('input[name="curl"]').val();
           data['text'] = $('textarea[name="comment"]').val();
           data['path'] = "{{ post.path }}";
           var $result = $('#result');
           $.ajax({
               url:'/tpush',
               data: data,
               type: 'POST',
               //contentType: "application/json;charset=UTF-8",
               dataType:'json',
               success:function (data) {
                   if (!data.r){
                       $result.html(data.rs)
                   }else{
                       $result.html(data.error)
                   }
               }
           });

       });
   // });
</script>
