<div class="card">
    {% if post.path.startswith('posts') %}
  <div class="card-content">
    <span class="card-title black-text">

      <a href="{{ url_for('blog.post', name=post.path.replace('posts/','')) }}" data-instant class="grey-text darken-5"
         style="font-size: 1.0em"><strong>{{ post.title }}</strong></a>
    </span>
    {% autoescape off %}
      {{ post.summary }}
    {% endautoescape %}
  </div>
  <div class="card-action">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s5 push-s7 ">
        <span class="left small"><div class="chip"><i class="close material-icons">schedule</i>{{ post.date }}</div></span>
      </div>
      <div class="col s7 pull-s5">
        <!--<i class="material-icons vertical-bottom">turned_in</i>-->
          {% for tag in post.tags.split() %}
        <a href="{{ url_for('blog.tag',tag=tag) }}">
            <div class="chip">{{ tag }}<i class="close material-icons">close</i></div>
        </a>
          {% endfor %}
        <!--好困，2017.03.10.00.01-->
      </div>
    </div>
  </div>
    {% endif %}
</div>