{% extends 'base/base.html' %}
{% block title %}- Posts{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m9 ">
              <div id="ops_dev" class="section scrollspy">
                 <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">运维<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">运维篇：<i class="material-icons right">close</i></span>
                      <ul>
                          {% for post in posts %}
                              {% if post.categories == 'devops' %}
                          <li><a href="{{ url_for('blog.post', name=post.path.replace('posts/','')) }}">{{ post.date }} - {{ post.title }}</a></li>
                              {% endif %}
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
              </div>
              <div id="coding" class="section scrollspy">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">编程<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">编程篇：<i class="material-icons right">close</i></span>
                      <ul>
                          <li><a href="#">Zabbix</a></li>
                          <li><a href="#">Zabbix</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div id="sec" class="section scrollspy">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">安全<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">安全篇：<i class="material-icons right">close</i></span>
                      <ul>
                          <li><a href="#">Zabbix</a></li>
                          <li><a href="#">Zabbix</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div id="docker" class="section scrollspy">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">容器<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">容器篇：<i class="material-icons right">close</i></span>
                      <ul>
                          <li><a href="#">Zabbix</a></li>
                          <li><a href="#">Zabbix</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div id="share" class="section scrollspy">
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">运维<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">运维篇：<i class="material-icons right">close</i></span>
                      <ul>
                          <li><a href="#">Zabbix</a></li>
                          <li><a href="#">Zabbix</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div id="misc" class="section scrollspy">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/static/blog/img/demo1.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">杂记<i class="material-icons right">more_vert</i></span>
                      <p><a href="#">搞事情，想偷懒</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">杂记篇：<i class="material-icons right">close</i></span>
                      <ul>
                          <li><a href="#">Zabbix</a></li>
                          <li><a href="#">Zabbix</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col hide-on-small-only m3 12">
                <div style="height: 1px;">
                <ul class="section table-of-contents hide-on-med-and-down pinned">
                    <li><a href="#ops_dev">运维类</a> </li>
                    <li><a href="#coding">编程类</a> </li>
                    <li><a href="#sec">安全类</a> </li>
                    <li><a href="#docker">容器类</a> </li>
                    <li><a href="#share">Share</a> </li>
                    <li><a href="#misc">杂记</a> </li>
                </ul>
                    </div>
            </div>

        </div>
    </div>
{% endblock %}