<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block desc %}Blog System{% endblock %}">
    <title>{% block title %}Hello,Blog{% endblock %}</title>
    {% include "_includes/meta.html" %}
    {% include "_includes/css.html" %}
</head>

<body>
    <div class="content index width mx-auto px2 my4">
        {% include "_layouts/header.html" %}
        {% block main %}
            {% include "_includes/saying.html" %}
             {% include "_includes/post.html" %}
        {% endblock %}
    </div>

        {% include "_layouts/footer.html" %}


    {% include "_includes/js.html" %}
    {% include "_includes/ex_js.html" %}
</body>
</html>

