<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block desc %}Blog System{% endblock %}">
    <title>{% block title %}Hello,Blog{% endblock %}</title>
    {% block meta_info %}
    {% endblock %}
    {% include "_includes/meta.html" %}
    {% include "_includes/css.html" %}
    {% block add_css %}
    <!-- -->
    {% endblock %}
</head>

<body>
    {% block is_post %}{% endblock %}
    <div class="content index width mx-auto px2 my4">
        {% block header %}
        {% include "_layouts/header.html" %}
        {% endblock %}
        {% block main %}
            {% include "_includes/saying.html" %}
            {% include "_includes/recent.html" %}
        {% endblock %}
    </div>
        {% block is_post_2 %}{% endblock %}
        {% include "_layouts/footer.html" %}


    {% include "_includes/js.html" %}
    {% block add_js %}
    {% endblock %}
    {% block pl %}
    {% endblock %}
</body>
</html>

