<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block desc %}Blog System{% endblock %}">
    <title>{% block title %}Hello,Blog{% endblock %}</title>
    {% include "_includes/meta.html" %}
    {% include "_includes/css.html" %}
</head>

<body>
    <div class="content index width mx-auto px2 my4">
        {% include "_layouts/header.html" %}
        {% block main %}
            {% include "_includes/saying.html" %}

<section id="writing">
  <span class="h1"><a href="/archives">Writing</a></span>
  <ul class="post-list">




      <li class="post-item">

    <div class="meta">
        <time datetime="2017-05-18T21:51:42.420Z" itemprop="datePublished">2017-05-18</time>
    </div>


        <span>

        <a class="" href="/hello-world/">Coming soon</a>



</span>
      </li>

  </ul>

</section>



    </div>
        {% endblock %}
        {% include "_layouts/footer.html" %}

    </div>
    {% include "_includes/js.html" %}
</body>
</html>

