{% extends "admin/base.html" %}
{% block content %}
{% include 'admin/links/links_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>填写基本信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" id="userForm" class="form-horizontal" action="{{ url_for('admin.admin_links',name='add') }}">
                    {% if error %}
                        <div class="alert alert-warning text-center">{{ error }}</div>
                    {% endif %}
                        {% if msg %}
                        <div class="alert alert-success">{{ msg | safe }}</div>
                    {% endif %}
                        <div class="form-group">
                            <label for="lurl" class="col-sm-2 control-label">网站链接<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                    <input id="lurl" name="lurl" placeholder="https://ysicing.net" type="text" class="form-control" {% if error %}value="{{ lurl }}" {% endif %}>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="lname" class="col-sm-2 control-label">网站名称<span class="red-fonts">*</span></label>
                            <div class="col-sm-8">
                                <input id="lname" name="lname" placeholder="Ops Notes"  class="form-control" {% if error %}value="{{ lname }}" {% endif %} >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="ldes" class="col-sm-2 control-label">网站描述</label>
                            <div class="col-sm-8">
                                <textarea id="ldes" class="form-control" name="ldes" placeholder="一个神奇的网站" rows="10" style="font-size: 9px;"></textarea>
                            </div>
                        </div>


                         <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="role" name="role" checked>朋友</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="role" name="role" >基友</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="2" class="role" name="role" >Dalao</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="3" class="role" name="role" >赞助商</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}
{% block scripts %}

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_name: [/(?!^root$)^[\w.]{2,20}$/i, '大小写字母数字和下划线小数点,2-20位,并且非root'],
        check_username: [/^[\w.]{3,20}$/, '大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "lurl": {
            rule: "required",
            tip: "输入链接URL",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "lname": {
            rule: "required",
            tip: "输入网站名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "ldes": {
            rule: "required",
            tip: "网站描述",
            ok: "",
            msg: ""
        },
        "anhao": {
            rule: "reguired",
            tip: "找回密码凭证",
            ok: "",
            msg: {required: "必须填写"}
        }

    },
    valid: function(form) {
        form.submit();
    }
});



</script>
{% endblock %}