{% extends "admin/base.html" %}
{% block content %}
{% include 'admin/links/links_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑友情链接</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="{{ url_for('admin.admin_links',name='update') }}?id={{ uplink.lid }}">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="lurl" class="col-sm-2 control-label">网站链接<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="lurl" name="lurl" placeholder="{{ uplink.lurl }}" type="text" class="form-control" value="{{ uplink.lurl }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="lname" class="col-sm-2 control-label">网站名称</label>
                                <div class="col-sm-8">
                                    <input id="lname" name="lname" placeholder="{{ uplink.lname }}"  class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="ldes" class="col-sm-2 control-label">网站描述<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" type="email" placeholder="Email" class="form-control" value="{{ uplink.ldes }}" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="role" class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="role" name="role" {% if uplink.lrz_tx %}checked{% endif %}>朋友</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="role" name="role" {% if uplink.lrz_jy %}checked{% endif %}>基友</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="2" class="role" name="role" {% if uplink.lrz_dx %}checked{% endif %}>Dalao</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="3" class="role" name="role" {% if uplink.lrz_zzs %}checked{% endif %}>赞助商</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="submit">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_pass: [/^\w+$/, '数字和字符']
    },
    fields: {
        /*"lname": {
            rule: "required",
            tip: "输入网站名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "lurl": {
            rule: "required",
            tip: "输入完整域名",
            ok: "",
            msg: {required: "必须填写"}
        },
        "ldes": {
            rule: "required",
            tip: "网站描述",
            ok: "",
            msg: {required: "必须填写"}
        },*/
        valid: function (form) {
            form.submit();
        }
    }
});

$("document").ready(function(){
    $("input.role").click(function(){
        if($("input.role[value=GA]").is( ":checked" )){
            $("#admin_groups").css("display", 'block');
        }
        else {
            $("#admin_groups").css("display", 'none');
        }
    })
})
</script>
{% endblock %}