{% extends "admin/base.html" %}
{% block content %}
{% include "admin/posts/post_nav.html" %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>审核评论</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="{{ url_for('web.web_tupdate',name='allow_comm') }}?cid={{ cm_info.cid }}">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">用户信息<span class="red-fonts"></span></label>
                                <div class="col-sm-8">
                                    <input id="username" name="username" placeholder="Username" type="text" class="form-control" value="用户名：{{ cm_info.cname }} 邮箱：{{ cm_info.cemail }}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">评论内容</label>
                                <div class="col-sm-8">
                                    <input id="text" name="text" placeholder=""  class="form-control" value="{{ cm_info.ctext }}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {% if not cm_info.cemail_allow %}
                            <div class="form-group">
                                <label for="cemail_allow" class="col-sm-2 control-label">状态<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="0" class="cemail_allow" name="cemail_allow" >未审核</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label><input type="radio" value="1" class="cemail_allow" name="cemail_allow" >允许</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="submit">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}