<footer class="page-footer white">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col l8 s10 offset-l2 offset-s1 valign center-align">
          <span style="font-size: 1.5em">{{ blog_name() }}</span>
          <a href="/feed/" target="_blank" class="light-green-text lighten-1">
            <i class="material-icons">rss_feed</i>
          </a>
          <p>Powered by <a href="http://flask.pocoo.org/">Flask</a>,
             icp: <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" rel="nofollow">{{ blog_icp() }}</a></p>
        </div>
      </div>
    </div>
  </footer>
