<nav>
  <div class="container">
    <div class="row">
        <div class="col s2 12">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>导航</a>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">搞事情</a></li>
                <li>
                    <a href="javascript:void(0);" data-activates="slide-out" id="side-nav-menu">
                    <i class="material-icons nav-icon">menu</i>
                    </a>
                </li>

                <li class="divider"></li>
                <li><a href="/"><i class="material-icons nav-icon">home</i>
</a></li>
              </ul>
        </div>
        <div class="col s2 12 offset-l8 offset-s8 right-align medium">
                {% if not current_user.is_authenticated %}
                <a href="/oauth" data-activates="slide-out" id="side-nav-menu">
                    <i class="material-icons nav-icon">account_circle</i>
                </a>
                {% else %}
                    <a href="/admin/web">
                    <i class=""><img src="{{ current_user.gravatar(size=40) }}"></i>
                    </a>
                {% endif %}
        </div>
    </div>
  </div>

  {% include 'base/sidebar.html' %}
</nav>