
<ul id="slide-out" class="side-nav black-text">
    <div class="sidenav-top">
      <li>
        <div class="userView">
          <div class="background" style="background-color: grey"></div>
          <a href="/"><img class="circle" src="{{ user.pro_logo }}"></a>
          <a href="/about/readme"><span class="white-text name">{{ user.pro_name }}</span></a>
          <a href="{{ user.email }}"><span class="white-text email">{{ user.email }}</span></a>
        </div>
      </li>

      <li><a href="/" data-instant><i class="material-icons">home</i>主页</a></li>

      <li>
        <a class='' href='javascript:void(0);' id="category-dropdown" onclick="sidebarCategory()">
          <i class="material-icons">turned_in_not</i>
          归档<i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id='category' class="hidden">

            <li><a href="/posts#ops_dev" data-instant>运维<span
                class="badge red white-text right">4</span></a></li>

            <li><a href="/posts#coding" data-instant>编程<span
                class="badge red white-text right">11</span></a></li>

            <li><a href="/posts#sec" data-instant>安全<span
                class="badge red white-text right">25</span></a></li>

            <li><a href="/posts#docker" data-instant>容器<span
                class="badge red white-text right">4</span></a></li>

            <li><a href="/posts#share" data-instant>分享<span
                class="badge red white-text right">27</span></a></li>
            <li><a href="/posts#misc" data-instant>杂项<span
                class="badge red white-text right">27</span></a></li>

          <div class="divider"></div>
        </ul>
      </li>

      <li>
        <a class='' href='javascript:void(0);' id="lib-dropdown" onclick="sidebarLib()">
          <i class="material-icons">account_balance</i>
          折腾<i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id='lib' class="hidden">
            <!--
          <li>
            <a href="/reading" data-instant>
              <i class="material-icons">drafts</i>
              订阅大佬
            </a>
          </li>

          <li>
            <a href="/tools/douban/" data-instant>
              <i class="material-icons">play_for_work</i>
              豆瓣导出
            </a>
          </li>-->
          <li>
            <a href="/status" data-instant>
              <i class="material-icons">history</i>
              可用性
            </a>
          </li>
          <li>
            <a href="/monitor" data-instant>
              <i class="material-icons">track_changes</i>
              监控
            </a>
          </li>
          <div class="divider"></div>

          <div class="divider"></div>
        </ul>
      </li>
<!--
      <li>
        <a class='' href='javascript:void(0);' id="life-dropdown" onclick="sidebarLife()">
          <i class="material-icons">brightness_4</i>
          Eassy<i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id='life' class="hidden">
          <li><a href="/secret/foods"><i class="material-icons">photo_library</i>美食</a>
          </li>
          <li><a href="/secret/lang_a_lang"><i class="material-icons">theaters</i>旅游</a></li>
          <div class="divider"></div>
        </ul>
      </li>
-->
      <li>
        <a class='' href='javascript:void(0);' id="analysis-dropdown" onclick="sidebarAnalysis()">
          <i class="material-icons">assessment</i>
          统计<i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id='analysis' class="hidden">
          <li><a href="/timeline"><i class="material-icons">av_timer</i>Timeline</a></li>
          <li><a href="/links"><i class="material-icons">supervisor_account</i>朋友们</a></li>
          <li><a href="/analysis"><i class="material-icons">trending_up</i>访问</a></li>
          <div class="divider"></div>
        </ul>
      </li>


      <li><a href="/about/blog"><i class="material-icons">info</i>关于博客</a></li>
    </div>
    <div class="sidenav-bottom">

<div class="row center-align" style="margin-bottom: 0">
  <div class="row center-align" style="margin-bottom: 0">
    <a href="https://ysicing.net/{{ user.githubname }}" class="img-link" target="_blank"><img
            src="/static/comm/img/github_x.png"></a>
    <a href="#weibo" class="img-link" target="_blank"><img
            src="/static/comm/img/weibo.png"></a>
    <a href="#wechat" class="img-link" target="_blank"><img
            src="/static/comm/img/wechat.png"></a>
  </div>
  <div class="row center-align" style="margin-bottom: 0">
    <a href="#twitter" class="img-link" target="_blank"><img
            src="/static/comm/img/twitter.png"></a>
    <a href="#api" class="img-link" target="_blank"><img
            src="/static/comm/img/wechat_1.png"></a>
  </div>
</div>

    </div>
  </ul>