{% extends "base/base.html" %}
{% block title %}- 最近动态{% endblock %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
      <div class="row">
        <div class="col s12 l10 offset-l1">
          <div class="card">
            <div class="card-content" style="padding: 50px">
              <ul class="collection" style="border: none">
              {% if actions.login %}
                {% for action in actions.login %}
                  <li class="collection-item avatar" style="border: none">
                    <a target="_blank" href="#"><img src="{{ user.gravatar() }}" class="circle"></a>
                    <span class="title">登录了</span>
                    <p class="blue-text"><a href="/#" target="_blank">{{ blog_name() }}</a></p>
                    <span class="secondary-content small grey-text darken-2">{{ action | timesince }}之前</span>
                  </li>
                {% endfor %}

              {% else %}
                  这里似乎发生了什么，请联系博主。
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}